{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'landing/assets/facebook.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'landing/style.css' %} " />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>FB-Comments - Get and classify facebook comments!</title>
  </head>

  <body>

    {% include 'landing/includes/navbar.html' %}
    
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        {% include 'landing/includes/sidebar.html' %}
        <!-- Topics End -->
        

        <!-- Room List Start -->

        {% block content %}
          
        {% endblock content %}
        
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'landing/includes/rightbar.html' %}
        
        <!-- Activities End -->
      </div>
    </main>
    <script src="{% static 'landing/script.js' %}"></script>

  </body>
</html>
